/**
 * VARIABLES
 * Variables shared across 2 or more module.
 * If a variable only concerns 1 module, it should be kept inside it.
 */

:root {
	/* Color pallete */
	--color-primary: #2abbf1;
	--color-grey: #e5edf0;

	/* Typography */
	--line-height: 1.3;
}
