/**
 * FORMS
 *
 * Estimated compiled size: 463B
 */

@import './../shared/variables.css';

input[type="text"], input[type="email"], input[type="password"],
input[type="number"], input[type="range"], input[type="search"],
input[type="tel"], input[type="url"], input[type="color"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="time"], input[type="week"], input[type="month"],
select {
	display: block;
	width: 100%;
	line-height: var(--line-height);
	padding: .5rem .875rem;
}
