/**
 * BUTTONS
 * Simple styles to make buttons look nice. Remember, this is not
 * Bootstrap! Bootstrap already does the full styling and stuff, and is 
 * very good at this. Courtesy should only give basic styling and leave
 * the rest to whoever is using it.
 *
 * Estimated compiled size: 367B
 * 
 */

@import './../shared/variables.css';

/**
 * Standard button style
 */
.btn {
	/* TODO Optimize the font for windows */
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
    padding: .75em 1em;
    border-radius: .25rem;
    border: 1px solid transparent;
    font-weight: 500;
    line-height: var(--line-height);
    background-color: var(--color-primary);
}


/**
 * Button size variations. Change just the font size and
 * padding with ems should do the rest.
 */
.btn--big { font-size: 1.2rem; }
.btn--small { font-size: .875rem; }


/**
 * Block, 100% width button
 */
.btn--block { 
	display: block;
	width: 100%; 
}


/**
 * Button that looks like a link
 */
.btn--link {
	background-color: transparent;
	color: var(--color-primary);
	text-decoration: underline;
}

/* TODO Do hover styles */
